* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6vw;
    font-weight: 4vw;
    line-height: 1.5vw;
    background-color: #fff;

}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    font-style: oblique;
    font-size: 1vw;

}

.btn {
    margin-top: 2rem;
    font-weight: 4vw;
    display: inline-block;
    border: 2px solid black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;



}

.text-uppercase {
    text-transform: uppercase;
}

@media (max-width:800px) {
    .icon-btn {
        display: none !important;
    }
}

[class^="icon-btn"]

/*.icon-btn*/
    {
    height: 45px;
    width: 45px;
    border: 0;
    cursor: pointer;
    font-size: 3vw;
    line-height: 45px;
    transition: ease-in-out .3s;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #F7F7F7;
}

.icon-btn:hover {
    transform: scale(1.10);
    color: #FFFFFF;
}

a.link {
    color: inherit;
}

.baslık {

    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #532A13;
}

.hakkımızda {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;

    color: black;
}

.dashboard {
    align-items: center;
    margin-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

.loguydu {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 10%;
    padding-bottom: 3%;

}


@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



img {
    max-width: 100%;
}

@media(max-width:420px) {

    .dashboard{
        margin-top: 20% !important;
    }
    .harita {
        width: 80% !important;
        height: auto !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .hakkımızda {
        font-size: 100% !important;
        text-align: center !important;
    }

    .img-container {
        position: relative;
        text-align: center;
        margin-bottom: 50px!important;
    }
    p {
        color: #6c757d;
        font-size: 100% !important;
        text-align: center !important;
    }
    .emo{
        margin-top: 0% !important;
    }
    .melih{
        margin-top: 25% !important;
    }
    .furkan{
        margin-top: 20% !important;
    }
}